<div class="footer-copyright text-center py-3">© <script>document.write(/\d{4}/.exec(Date())[0])</script> Copyright:
    <a href="https://github.com/sidharthkumar2019" style="text-decoration: none; color: inherit;">Sid_Arth</a>
</div>
