<div class="container">
    <h3>
        Hello my name is Sidharth and I am a 3rd year student in Computer Science at SoE, JNU.
        I have made this project using MEN and bootstrap.
    </h3>
    <h3>
        Special Thanks to :-
    </h3>
    <ul>
        <li><h3>Jatin and Kushal bhaiya, my seniors. For motivating me to do web development.</h3></li>
        <li><h3>Kartik, Vishal and Shubham for being patient with my newbie doubts.</h3></li>
    </ul>
</div>